[Unit]
Description=Custom Script to Restart Mopidy After Internet Connection
After=mopidy.service network-online.target

[Service]
ExecStartPre=/usr/bin/wait-for-internet.sh
ExecStart=/usr/bin/mopidy-restart-to-login.sh
Type=oneshot
RemainAfterExit=yes
TimeoutSec=5min

[Install]
WantedBy=multi-user.target
